{% extends 'base.html' %}



{% block content %}

<h1 class="title-center belownavbar text-center " > Quiz </h1>

<div class=" container title mx-5 px-5 wow fadeInUp">

    <form method="POST">
        {% csrf_token %}
    {% for question in questions %}

       <div class="inbetweenquestion">

        <div class="question-text">
            <p>{{question.text}}</p>
        

        </div class="option-item">
        {% for option in question.Option.all %}
        <label class="option-item">
         <input 
                type="radio"
                name="question_{{ question.id }}"
                value="{{ option.id }}"
        > {{option.text}}
        </label>
         {% endfor %}
        <div >
         </div>   
        
           
    {% endfor %}
     <button type="submit" class="btn btn-primary px-4  top-0 end-0 me-2 upsidespacing">Submit</button>
       </form>

{% endblock %}
    